<mat-sidenav-container fullscreen >
  <mat-sidenav #sidenav  mode="push" >
      <h1 class="titulo-menu">Menu</h1>

      <mat-nav-list>
        <a routerLink="./ranking" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>assessment</mat-icon>
          Ranking
        </a>
        <a routerLink="./grupos" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>event</mat-icon>
          Fase de grupos
        </a>
        <a routerLink="./nuevo-jugador" mat-list-item (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>add</mat-icon>
          Agregar jugador
        </a>

      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="navBar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-raised-button
      color="primary"
      (click)="salir()">
      <mat-icon>logout</mat-icon>
      Salir
    </button>
  </mat-toolbar>


  <div class="container">
    <router-outlet></router-outlet>
  </div>


</mat-sidenav-container>

