
<div class="grid">
  <h1>Fase de grupos</h1>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      *ngFor="let link of links"
      (click)="activeLink = link"
      (click)="obtenerJugadores(link)"
      [active]="activeLink == link"
    >
      {{ link }}
    </a>
  </nav>

  <h1>{{ activeLink }}</h1>

  <table matSort >
  <tr>
    <th mat-sort-header="nombre">Ranking</th>
    <th mat-sort-header="nombre">Nombre</th>
    <th mat-sort-header="ranking">Partidos Jugados</th>
    <th mat-sort-header="ranking">Partidos Ganados</th>
  </tr>

  <tr *ngFor="let jugador of jugadoresGrupo; let i=index" class="jugadores">
    <td>{{i+1}}</td>
    <td>{{jugador.nombre}}</td>
    <td>{{jugador.partidos_jugados}}</td>
    <td>{{jugador.partidos_ganados}}</td>
  </tr>
</table>

</div>

<app-agregar-partido class="mr-3" [jugadores]="jugadoresGrupo"></app-agregar-partido>
